body {
  background: green;
}
.card {
  display: inline-block;
  margin: auto;
  background-color: white;
  height: 90vh;
  width: 25vw;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 2%;
}
.top {
  height: 15%;
  text-align: left;
  display: flex;
  align-items: flex-start;
  align-items: center;
  padding-left: 10px;
  padding-top: 20px;
  position: relative; /* Agrega posicionamiento relativo */
  z-index: 2;
}
.bottom {
  height: 15%;
  text-align: right;
  display: flex;
  align-items: flex-end;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 20px;
  transform: scaleY(-1);
  z-index: 2;
}
.number {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  z-index: 1;
}
.suit {
  font-size: 10vw;
}
.red-text {
  color: red;
}

.black-text {
  color: black;
}

.img-modificada {
  height: 80vh;
  position: relative;
  width: 100%;
}
